body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(to right, #ffe4e6, #e0f2fe);
}

.container {
  text-align: center;
  padding: 30px;
}

h1 {
  color: #be123c;
}

.intro {
  color: #444;
  margin-bottom: 20px;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}